<div class="container py-5">
  <div class="row g-4">

    <div class="col-md-6 col-lg-3" (click)="goToProducts('Indoor Lighting')">
      <div class="category-card indoor">
        <div class="overlay"></div>

        <div class="content">
          <h3>Indoor Lighting</h3>
          <span class="arrow">→</span>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3" (click)="goToProducts('Outdoor Lighting')">
      <div class="category-card outdoor">
        <div class="overlay"></div>

        <div class="content">
          <h3>Outdoor Lighting</h3>
          <span class="arrow">→</span>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3" (click)="goToProducts('Industrial Lighting')">
      <div class="category-card industrial">
        <div class="overlay"></div>

        <div class="content">
          <h3>Industrial Lighting</h3>
          <span class="arrow">→</span>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3" (click)="goToProducts('Architectural Lighting')">
      <div class="category-card architectural">
        <div class="overlay"></div>

        <div class="content">
          <h3>Architectural Lighting</h3>
          <span class="arrow">→</span>
        </div>
      </div>
    </div>

  </div>
</div>