<div class="main-hero-section">
  <div class="overlay"></div>

  <div class="container hero-content">
    <div class="left-content">
      <div class="brand">
        <img src="../../../../assets/icon/electrocine-logo.png" alt="logo" draggable="false"/>
        <span>Electrocine Industries</span>
      </div>
      <h1 class="hero-title">
        Lighting that <br />
        <span>Transforms Spaces</span>
      </h1>
      <p class="hero-subtitle">
        Engineered for performance and designed for elegance discover
        next-generation lighting solutions built for streets, architecture,
        and modern infrastructure.
      </p>
      <button class="cta-btn">Explore Products</button>
    </div>
  </div>
</div>